.featured-product {
  display: grid;
  align-content: center;
  justify-items: center;
  margin-bottom: 3rem;
}

.featured-image img {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 24px 0px;
}
.name-price {
  display: flex;
  padding: 20px;
}
.add-to-cart {
  display: inline-block;
  border-radius: 10px;
  background-color: #448d80;
  border: none;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}
.add-to-cart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.add-to-cart span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.add-to-cart:hover span {
  padding-right: 15px;
}
.add-to-cart:hover span:after {
  opacity: 1;
  right: 0;
}
