.product-container{
  margin: 5rem;
}
.page-title {
  font-size: 50px;
  text-align: center;
}

@media screen and (max-width: 970px) { 
  .product-list{
      grid-template-columns: 1fr;
      }
      .product-card{
        height: 100%;
      }
    }
