.app {
  position: relative;
  min-height: 100vh;
}
hr{
  margin: 5rem auto !important;
  width: 550px;
  color: gray;
}

/* Featured products section */
.products{
  display: grid;
  gap: 10rem;
  grid-template-columns: repeat(auto-fit, 20rem);
  margin: 5rem;
  justify-content: space-around;

}
.featured-collection {
  margin: 3rem ;
  text-align: center;
}

.featured-image {
  width: 350px;
  height: 550px;
}

.images{
  object-fit: cover;
  border: 1px solid  #ccc;
  box-shadow: 4px 6px 10px rgba(0,0,0,.1);
}
.featured-section-title {
  font-size: 2rem;
}

/* Single product page */

.name-price p {
  font-size: 1.2rem;
  font-weight: bold;
}
.name-price h3 {
  font-size: 1rem;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 1.5rem;
}

/* Button */

button {
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

.add-more {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 10px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
